.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 0px 20px 0px;
}
.logoFooter{
    display: flex;
    align-items: center;
    padding: 50px 15px 20px;
}
.logoFooter h3{
    font-family: "Qwigley", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 5px;
}
.containerParagrafo{
    max-width: 860px;
    padding:0px 10px 25px 10px;
}
.containerRedesSocias{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 25px 25px 25px;
}
.containerRedesSocias img:hover{
    border-radius: 50%;
    box-shadow:0px 0px 18px -7px #ac9d9d;
    transform: scale(1.1);
}
.linkDesenvolvedor{
    text-decoration:none;
    color: #c9c93f;
}
.linkDesenvolvedor:hover{
    color: rgb(53, 209, 53);
}