
.Card{
    display: flex;
    width: 280px;
    height: 280px;
    box-shadow:0px 0px 8px -2px #8b7f7f;
    padding: 5px 15px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.Card:hover{
    background-color: #feb633;
}
.tituloCard{
    padding: 15px 0px 0px;
}
@media(max-width:700px){
    .Card{
        width: 100%;
    }
}