.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-weight: 300;
}
.containerImagem{
    width: 395px;
    height: 415px;
}
.Imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containerTextos{
    display: flex;
    width: 60%;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
}
.containerTextos h2{
    font-size: clamp(20px, 3vw, 3vw);
    font-weight: 300;
}