@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwigley&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
:root{
  /*Tema Ligth*/
  --color-logo:#feb633;
  --color-titulo-banner:#022144;
  --background-titulo:#fafbfc;
  
  --color-experiencia:#32333c;
  --background-experiencia:#f6f7fc;
  --color-paragrafo-experiencia:#8a8fa3;
  
  --background-footer:#fff;

   /*Tema Dark*/
--color-btn-dark:#feb633;

--color-banner-dark:#022144;
--background-banner-dark:#fafbfc;

--background-experiecia-dark:#393838;
--color-experiencias-textos-dark:#CCCCCC;
--color-texto-card-dark:#9f9f9f;

--background-footer-dakr:#252525;
}